/*Decided to go with Lato for the lolz!*/
@import url('https://fonts.googleapis.com/css?family=Lato');

/*Reset for all pages*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Lato', sans-serif;

}